/*
    Project Name: Image Reveal On Scratch using Vanilla Javascript
    Author: Soumyadeep Mandal 
    Contact: https://www.linkedin.com/in/imsampro
    Created: October 2020
    Version: 1.0
    File Description: Image Reveal On Scratch using Vanilla Javascript
*/


README.md


/*
    Project Name: Image Reveal On Scratch using Vanilla Javascript
    Author: Soumyadeep Mandal 
    Contact: https://www.linkedin.com/in/imsampro
    Created: October 2020
    Version: 1.0
    File Description: Image Reveal On Scratch using Vanilla Javascript
*/